<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New City</title>
</head>
<body>

<form th:method="POST" th:action="@{/cities}" th:object="${city}">
    <label for="name">Enter city name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="description">Enter description:</label>
    <input for="description" th:field="*{description}" id="description"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>


</body>
</html>