<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update description</title>
</head>
<body>

<form th:action="@{/cities/patch/{id}(id=${city.getId()})}" th:object="${city}" th:method="PATCH">
    <label for="name">Enter new name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="description">Enter new description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <br/>
    <input type="submit" value="Update!"/>


</form>

</body>
</html>