<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City</title>
</head>
<body>

<p th:text="${city.getName()}">VALUE</p>
<p th:text="${city.getDescription()}">VALUE</p>

<a th:href="@{/cities/{id}/edit(id=${city.getId()})}">Edit</a>
<form th:action="@{/cities/{id}(id=${city.getId()})}" th:method="DELETE" >
    <input type="submit" value="Delete"/>
    <input type="button" onclick="history.back();" value="Back"/>
</form>
</body>
</html>